*~
plugins/*
#accounts/
data/*
!data/nodelete.txt
themes/hotdoy
themes/quark
config/backups.yaml
config/media.yaml
config/scheduler.yaml
config/security.yaml
config/streams.yaml
config/plugins/form.yaml
config/versions.yaml