{% extends 'partials/modular.html.twig' %}
{% set modular_name = 'engine-collection' %}
{% set content_position = content_position|default(page.header.content_position) %}
{% set position = position|default(page.header.position ?? 'center') %}

{%- set computed_position -%}
{%- if content_position == 'left' -%}content--left
{%- elseif content_position == 'right' -%}content--right
{%- else -%}content--center
{%- endif -%}
{%- endset -%}

{% set limit_reveal = limit_reveal|default(page.header.limit_reveal) %}

{% do assets.addJs('theme://js/engines_filter.js') %}

{% block modular_content %}
<div class="content__ctn {{ computed_position }}" data-reveal>
	<div class="product-collection__title">{{ page.header.title }}</div>
	<section class="product-collection__grid-ctn mt">
		<div class="product-collection__grid" data-paginate>
			{% for page in page.collection() %}
				{% include 'partials/engine-card.html.twig' %}
			{% endfor %}
			{% include 'partials/pagination.html.twig' %}
		</div>
	</section>
</div>
{% endblock %}

