{% extends 'partials/modular.html.twig' %}
{% set modular_name = 'engine_filter' %}
{% set content_position = content_position|default(page.header.content_position) %}
{% set position = position|default(page.header.position ?? 'center') %}

{%- set computed_position -%}
{%- if content_position == 'left' -%}content--left
{%- elseif content_position == 'right' -%}content--right
{%- else -%}content--center
{%- endif -%}
{%- endset -%}

{% set limit_reveal = limit_reveal|default(page.header.limit_reveal) %}

{% do assets.addJs('theme://js/engines_filter.js') %}

{% block modular_content %}
<div class="content__ctn {{ computed_position }}" data-reveal>
	<div class="row">
		<div class="column column-3">
			<div id="engines_filter_cat">
			    <label><input type="radio" name="engine_cat" id="cat" value="synthesizer" checked="checked"><span class="label-name">Synthesizers</span></label>
			    <label><input type="radio" name="engine_cat" id="cat" value="effect"><span class="label-name">Effects</span></label>
			</div>
		</div>
		<div class="column column-9">
			<div id="engines_filter_tag">
			    <label class="synth fx"><input type="radio" name="tag" id="tag" value="" checked="checked"><span class="label-name">all</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-mono"><span class="label-name">monophonic</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-sample"><span class="label-name">sampler</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-add"><span class="label-name">additive</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-sub"><span class="label-name">subtractive</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-pad"><span class="label-name">pad</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-phy"><span class="label-name">physical</span></label>
			    <label class="synth"><input type="radio" name="tag" id="tag" value="synth-emu"><span class="label-name">emulator</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-midi"><span class="label-name">MIDI</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-mod"><span class="label-name">modulation</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-delay"><span class="label-name">delay & reverb</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-filter"><span class="label-name">filter & EQ</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-distortion"><span class="label-name">distortion</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-dynamics"><span class="label-name">dynamics</span></label>
			    <label class="fx"><input type="radio" name="tag" id="tag" value="fx-other"><span class="label-name">other</span></label>
			</div>
		</div>
	</div>
</div>
{% endblock %}
