<article class="product-card" data-tag="{{ page.header.taxonomy.tag|join(',') }}">
	<a class="product-card__link" href="{{ page.url }}">
		<div class="product-card__image">
			<div class="fill">
				{% include 'partials/img.html.twig' with {'image': page.media.images|first} %}
			</div>
		</div>
		<div class="product-card__info">
			<h3 class="product-card__title">{{ page.title }}</h3>
			<div class="product-card__description">{{ page.header.description }}</div>
		</div>
	</a>
</article>
