
/*
***************************************
CUSTOM CSS FOR ZYNTHIAN
(child-theme of Hotdoy)
***************************************
*/


/*--------------------------------------------------------------
SUMARY
----------------------------------------------------------------
# Columns Grdi
# General & Tricks
# Header & Nav
# Buttons
# Splash
# Homepage
# Form footer
# Uses Cases
# Engines



--------------------------------------------------------------*/



/*
***************************************
FLEXBOX-BASED COLUMNS
These classes provide the flexbox-based row-and-column layout from milligram.css [2].
NOT SUPPORTED: Safari 8 (MacOS X 10.10)
***************************************
*/

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row-no-padding .row {
    padding: 0;
}

.row-no-padding .row > .column {
    padding: 0;
}

.row-wrap .row {
    flex-wrap: wrap;
}

.row-top .row{
    align-items: flex-start;
}

.row-bottom .row {
    align-items: flex-end;
}

.row-center .row{
    align-items: center;
}

.row-stretch .row{
    align-items: stretch;
}

.row-baseline .row{
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row [class^=".column.column-"]{
    flex: 0 0 100%;
    max-width: 100%;
}

.row .column .column-top {
    align-self: flex-start;
}

.row .column .column-bottom {
    align-self: flex-end;
}

.row .column .column-center {
    -ms-grid-row-align: center;
            align-self: center;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .row .column {
        margin-bottom: inherit;
        padding: 0 1rem;
    }

    .row .column.column-offset-1 {
        margin-left: 8.33%;
    }

    .row .column.column-offset-2 {
        margin-left: 16.66%;
    }

    .row .column.column-offset-3 {
        margin-left: 25%;
    }

    .row .column.column-offset-4 {
        margin-left: 33.33%;
    }

    .row .column.column-offset-5 {
        margin-left: 41.66%;
    }

    .row .column.column-offset-6 {
        margin-left: 50%;
    }

    .row .column.column-offset-7 {
        margin-left: 58.33%;
    }

    .row .column.column-offset-8 {
        margin-left: 66.66%;
    }

    .row .column.column-offset-9 {
        margin-left: 75%;
    }

    .row .column.column-offset-10 {
        margin-left: 83.33%;
    }

    .row .column.column-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .row .column.column-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .row .column.column-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .column.column-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .row .column.column-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .row .column.column-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .column.column-7 {
        flex: 0 058.33%;
        max-width:58.33%;
    }

    .row .column.column-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .row .column.column-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .column.column-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .row .column.column-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .row .column.column-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/*--------------------------------------------------------------
# General & Tricks
--------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.custom-list ul{
  list-style: none;
}

.custom-list li {
  text-indent: -1em;
}

.custom-list li::before {
  content: "+";
  padding-right: 6px;
}

.custom-list li li::before {
  content: "=>";
  padding-right: 6px;
}

.inline-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 0;
}

.inline-list li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    padding-bottom: 0;
}

.black-bg.module{
    background-color:var(--color-hl) !important;
    color: var(--color-hl-inverted);
}

.content--center > .row > *{
    margin: 0
}

.show-large,
.row .column.show-large{
    display: none;
}

.show-small{
    display: block;
}

.button-group {
    margin-top: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .text-right-large{
        text-align: right;
    }

    .text-left-large{
        text-align: left;
    }

    .text-center-large{
        text-align: center;
    }
    .float-right-large{
        float: right;
        display: block;
    }

    .float-left-large{
        float: left;
        display: block;
    }

    .show-large,
    .row .column.show-large{
        display: block;
    }

    .show-small{
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .button-group {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .button-group .btn{
        margin-bottom: 1.875rem;
    }

    .button-group .btn + .btn {
        margin-left: 0;
        margin-bottom: 0;
    }

    .button-group .btn--primary_ghost > a,
    .button-group .btn--secondary_ghost > a{
        display: block;
    }
}


/*--------------------------------------------------------------
# Header & Nav
--------------------------------------------------------------*/

.header__toggle-on .material-icons{
    margin-top: -0.5rem;
    font-size: 2.25rem;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px #000000;
}

.header__toggle-off .material-icons{
    margin-top: -0.5rem;
    font-size: 2.25rem;
}

.header__panel.header__panel--on .menu-list{
    list-style: none;
}


.header__nav {
    margin-top:4rem;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn{
    font-size: 1em;
}

.module--splash .btn{
    font-size: 1.188em;
}

.btn + .btn{
    margin-left: 1.375rem;
}

.btn--primary > a {
    display: flex;
    background: var(--color-hl);
    border: 1px solid var(--color-hl);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary> a {
    display: flex;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--primary_ghost > a {
    display: flex;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary_ghost> a {
    display: flex;
    background: transparent;
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn.btn--primary .material-icons {
    padding-left: 0.5rem;
}

.btn.btn--primary:hover,
.btn.btn--secondary:hover,
.btn.btn--primary_ghost:hover,
.btn.btn--secondary_ghost:hover{
    transform: none;
}

.btn.btn--primary:hover a,
.btn.btn--secondary:hover a,
.btn.btn--primary_ghost:hover a,
.btn.btn--secondary_ghost:hover a{
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
}

.btn.btn--primary:active,
.btn.btn--secondary:active,
.btn.btn--primary_ghost:active,
.btn.btn--secondary_ghost:active{
    transform: translateY(-1px);
}


/*--------------------------------------------------------------
# Splash
--------------------------------------------------------------*/

:not(.body--home) .module--splash {
    min-height: 100% !important;
    height: 350px;
}

.body--home .module--splash {
    min-height: 900px !important;
    height: 100vh;
}


@media only screen and (min-width: 768px) {

    :not(.body--home) .module--splash {
        height: 500px;
    }
}

@media only screen and (max-width: 480px) {

    :not(.body--home) .module--splash {
        height: 275px;
    }

    :not(.body--home) .module--splash h1 {
        margin-top: 60px;
        padding-bottom: 0;
    }

    /*:not(.body--home) .module--splash h2 {
        display: none;
    }*/
}

:not(.body--home) .splash__content-ctn--hcenter.splash__content-ctn--vcenter{
    margin-top: 0;
}

.module--splash::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 10000;
}

:not(.body--home) .module--splash::before {
    height: 20%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
}

.splash__content-ctn{
    z-index: 20000;
}

.splash__content h2{
    font-family: var(--font-light);
    font-size: 1.275rem;
    padding-bottom: 1.8em;
    text-shadow: 0px 0px 2px #000000;
}

.splash__content h1,
.splash__content h2{
    text-shadow: 0px 0px 8px #000000;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.basic-concepts h2{
    font-family: var(--font-special);
}

.basic-concepts img{
    max-width: 205px;
}

.kit__card > div{
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 2em;
    color: var(--color-hl-inverted);
    height: 500px;
}

.kit__card > div::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 0;
}

.kit__card > div *{
    position: relative;
    z-index: 10;
}

.kit__card .content-group h2{
    padding-bottom: 0.25em;
}

.kit__card .content-group h5{
    padding-bottom: 0.25em;
}

.kitv3{
    background: url(../../../pages/images/kit-v3.jpg) no-repeat center center;
    background-size: cover;
}

.kitv2{
    background: url(../../../pages/images/kit-v2.jpg) no-repeat center center;
    background-size: cover;
}

.hard-soft img{
    padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
    .hard-soft .column-offset-1.column-5{
        margin-bottom: var(--rhythm)
    }
}

.video-block img{
    max-height: 150px;
    width: auto;
}

.video-block.mt_2{
    margin-top: calc(var(--rhythm) * 0.25);
}

.timeline{
  position:relative;
  margin: 50px auto;
  width:calc(100% - 20px);
  padding:50px 0;
}

.timeline ul{
  margin:0;
  padding:0 ;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  width:100%;
  padding: 3em 0 3em 5.5em;
  float:right;
  text-align:left;
  clear:both;
  display: flex;
  flex-direction: column-reverse;
}

.timeline__image,
.timeline__content{
    flex:1;
}

.timeline ul li::before {
    content: "";
    background: url(../../../pages/images/uses-cases-detail.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 10px;
    top: 44px;
    z-index: 10;
}

.timeline__image{
    padding-top: 1.5rem;
}

.timeline__content h3{
    padding-bottom: 1rem;
}

.timeline__content h5{
    padding-bottom: 1.375em;
}

.timeline__content a{
    display: block;
    clear: both;
    padding-top: 1em;
}

.timeline__content a:hover{
    color: var(--color-hl-inverted) !important;
    text-decoration: underline;
}


@media only screen and (min-width: 901px){
    .timeline ul li{
      display: flex;
      flex-direction: row-reverse;
      padding: 3em 0 3em 6.5em;
    }

    .timeline__image{
        padding-left: 1.875em;
    }

    .timeline__content h3{
        padding-top: 0.75em;
    }

    .timeline ul li::before{
      width:90px;
      height:90px;
      left:0;
      top:50px;
      z-index: 10;
    }

    .timeline__image{
        padding-top: 0;
    }
}

@media only screen and (min-width: 768px){
    .timeline::before {
      content: '';
      position:absolute;
      height:100%;
      left:42px;
      width:2px;
      top:0;
      background:#fff;
      z-index:1;
    }
}

@media only screen and (max-width: 767px){

    .pre-title{
        display: flex;
        flex-direction: row;
    }

    .pre-title img{
        width: 60px;
        height: auto;
        margin: -10px 10px 0 0;
    }

    .pre-title h2{
        width: calc(100% - 80px);
    }

    .timeline{
        width:100%;
        padding-top: 3em;
    }

    .timeline:before{
        left:20px;
    }

    .timeline ul li{
        width:100%;
        text-align:left;
        top:0;
        left:0;
        padding: 4.25em 0 3em 0;
    }

    .timeline ul li::before {
        width: 3rem;
        height: 3rem;
        left: 0;
        top: 0;
    }

    .timeline ul li::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        display: block;
        left: 0;
        top: 22px;
    }

    .kit__card{
        padding-bottom:var(--rhythm);
    }

    .kit__card:last-child{
        padding-bottom:0;
    }

    .video-block + .video-block .column-6:first-child .embed.youtube{
        margin-top: -8px;
    }

}

@media only screen and (max-width: 480px){

    .pre-title{
        flex-direction: column;
    }

    .pre-title img{
        width: 60px;
        margin: 0 0 1rem 0;
    }

    .pre-title h2{
        width: 100%;
    }

    .hard-soft img{
        padding-bottom: 0;
    }
}



/*--------------------------------------------------------------
# Form footer
--------------------------------------------------------------*/

.module--content form{
    margin-top: 0;
    margin-bottom: 0;
}

#contact-form .form-field{
    margin-top: 0;
    margin-bottom: 1rem;
}


#contact-form button {
    width: auto;
    padding: 10px 35px;
    height: auto;
    background-color: var(--color-hl);
    color: var(--color-hl-inverted);
    font-size: var(--base-font-size);
    border: 1px solid var(--color-hl-inverted);
    margin-top: 0.5rem !important;
}

#contact-form button:hover {
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
    transform:none;
}

#contact-form form .required {
    display: none;
}

@media only screen and (min-width: 768px){
    #contact-form .form-field{
        width: 48%;
        display: inline-block;
    }

    #contact-form .form-field + .form-field{
        margin-left: 3%;
    }

    #contact-form .form-field + .form-field + .form-field{
        margin-left: 0;
        width: 100%;
        display: block;
    }
}


@media only screen and (max-width: 767px){
    .footer__form{
        padding-top: 3em;
    }
}



/*--------------------------------------------------------------
# Uses Cases
--------------------------------------------------------------*/


#engines_filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.use-case h2 {
  font-family: var(--font-special);
}

.use-case p {
  display: block;
}

.main-cases >p:first-child{
    margin-top: 1.5rem;
}

.main-cases >p:first-child::first-letter {
  font-family: var(--font-special);
  font-size: 400%;
  line-height: 20%;
  color: var(--color-hl);
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: -3px;
  margin-right: 1px;
}


.link-extrademos{
    padding-top: 1.5em;
}

audio {
  width: 100%;
}



/*--------------------------------------------------------------
# Engines
--------------------------------------------------------------*/

@media only screen and (min-width: 768px){
  .product-card{
    width: calc(25% - var(--gutter));
  }
}
@media only screen and (min-width: 1248px){
  .product-card{
    width: calc(20% - var(--gutter));
  }
}
@media only screen and (min-width: 1888px){
  .product-card{
    width: calc(16.6% - var(--gutter));
  }
}

.product-card:hover{
  transform: translateY(-2px);
}
.product-card:active{
  transform: translateY(-1px);
}

.product-card__image img{
    border-radius: 5%;
}

.product-card__title{
  /*font-family: var(--font-base-bold);*/
  font-family: 'audiowide';
  font-weight: normal;
}

.product-card__info{
    max-width: 100%;
    margin-top: 1rem;
}

.product-card__description{
    font-size: 16px;
}

.product-collection__grid-ctn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2.5rem;
}


/*.product-collection__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 0 2rem;
    flex-wrap: inherit;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}*/

.product-collection__grid {
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.use-case .product-collection-ctn {
    background-color: #E8E8E8;
	margin-bottom: 0;
}

.use-case .product-collection__grid-ctn {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
    margin-top: 1.5rem;
}

.body--keyboard-expander footer,
.body--studio-production footer,
.body--effects-unit footer {
    margin-top: 0;
}

/*--------------------------------------------------------------
# Custom Styles by Jofemodo
--------------------------------------------------------------*/

.splash__content h2 a.anchorjs-link,
h1 a.anchorjs-link,
h3 a.anchorjs-link {
  display: none;
}


/*footer.footer h2 {
  font-family: 'Audiowide';
}*/

/*form#contact-form button.button {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

form#contact-form button.button:hover {
  color: #FFFFFF;
  background-color: #C03030;
}
*/
