

/*
***************************************
FLEXBOX-BASED COLUMNS
These classes provide the flexbox-based row-and-column layout from milligram.css [2].
NOT SUPPORTED: Safari 8 (MacOS X 10.10)
***************************************
*/

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row-no-padding .row {
    padding: 0;
}

.row-no-padding .row > .column {
    padding: 0;
}

.row-wrap .row {
    flex-wrap: wrap;
}

.row-top  .row{
    align-items: flex-start;
}

.row-bottom .row {
    align-items: flex-end;
}

.row-center .row{
    align-items: center;
}

.row-stretch .row{
    align-items: stretch;
}

.row-baseline .row{
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row [class^=".column.column-"]{
    flex: 0 0 100%;
    max-width: 100%;
}

.row .column .column-top {
    align-self: flex-start;
}

.row .column .column-bottom {
    align-self: flex-end;
}

.row .column .column-center {
    -ms-grid-row-align: center;
            align-self: center;
}

@media (min-width: 735px) {
    .row {
        flex-direction: row;
    }
    .row .column {
        margin-bottom: inherit;
        padding: 0 1.0rem;
    }
    .row .column.column-offset-1 {
        margin-left: 8.33%;
    }

    .row .column.column-offset-2 {
        margin-left: 16.66%;
    }

    .row .column.column-offset-3 {
        margin-left: 25%;
    }

    .row .column.column-offset-4 {
        margin-left: 33.33%;
    }

    .row .column.column-offset-5 {
        margin-left: 41.66%;
    }

    .row .column.column-offset-6 {
        margin-left: 50%;
    }

    .row .column.column-offset-7 {
        margin-left: 58.33%;
    }

    .row .column.column-offset-8 {
        margin-left: 66.66%;
    }

    .row .column.column-offset-9 {
        margin-left: 75%;
    }

    .row .column.column-offset-10 {
        margin-left: 83.33%;
    }

    .row .column.column-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .row .column.column-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .row .column.column-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .column.column-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .row .column.column-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .row .column.column-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .column.column-7 {
        flex: 0 058.33%;
        max-width:58.33%;
    }

    .row .column.column-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .row .column.column-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .column.column-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .row .column.column-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .row .column.column-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/*
***************************************
CUSTOM CSS FOR ZYNTHIAN
(child-theme of Hotdoy)
***************************************
*/


/*--------------------------------------------------------------
SUMARY
----------------------------------------------------------------
# General & Tricks
# Buttons
# Splits
# Homepage



--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General & Tricks
--------------------------------------------------------------*/

a{
    transition: all 0.2s ease-in-out;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.custom-list ul{
  list-style: none;
}

.custom-list li {
  text-indent: -1em;
}

.custom-list li::before {
  content: "+";
  padding-right: 6px;
}


.content--center > .row > *{
    margin: 0
}




/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn{
    font-size: 1.188em;
}

.btn + .btn{
    margin-left: 1.375rem;
}

.btn--primary > a {
    display: flex;
    background: var(--color-hl);
    border: 1px solid var(--color-hl);
    color: var(--color-hl-inverted);
    border-radius: 10px;
    padding: 0.65em 1.5em;
}

.btn--secondary> a {
    display: flex;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 10px;
    padding: 0.65em 1.5em;
}

.btn.btn--primary .material-icons {
    padding-left: 0.5rem;
}

.btn.btn--primary:hover,
.btn.btn--secondary:hover{
    transform: none;
}

.btn.btn--primary:hover a,
.btn.btn--secondary:hover a{
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
}


.btn.btn--primary:active,
.btn.btn--secondary:active{
    transform: translateY(-1px);
}






/*--------------------------------------------------------------
# Splits
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.basic-concepts h2{
    font-family: var(--font-special);
}

.basic-concepts img{
    max-width: 205px;
}

