
/*
***************************************
CUSTOM CSS FOR ZYNTHIAN
(child-theme of Hotdoy)
***************************************
*/


/*--------------------------------------------------------------
SUMARY
----------------------------------------------------------------
# Columns Grid
# General & Tricks
# Header & Nav
# Buttons
# Splash
# Homepage
# Form footer
# Engines
# Uses Cases


--------------------------------------------------------------*/


/*
***************************************
FLEXBOX-BASED COLUMNS
These classes provide the flexbox-based row-and-column layout from milligram.css [2].
NOT SUPPORTED: Safari 8 (MacOS X 10.10)
***************************************
*/

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row-no-padding .row {
    padding: 0;
}

.row-no-padding .row > .column {
    padding: 0;
}

.row-wrap .row {
    flex-wrap: wrap;
}

.row-top .row{
    align-items: flex-start;
}

.row-bottom .row {
    align-items: flex-end;
}

.row-center .row{
    align-items: center;
}

.row-stretch .row{
    align-items: stretch;
}

.row-baseline .row{
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row [class^=".column.column-"]{
    flex: 0 0 100%;
    max-width: 100%;
}

.row .column .column-top {
    align-self: flex-start;
}

.row .column .column-bottom {
    align-self: flex-end;
}

.row .column .column-center {
    -ms-grid-row-align: center;
            align-self: center;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .row .column {
        margin-bottom: inherit;
        padding: 0 1rem;
    }

    .row .column.column-offset-1 {
        margin-left: 8.33%;
    }

    .row .column.column-offset-2 {
        margin-left: 16.66%;
    }

    .row .column.column-offset-3 {
        margin-left: 25%;
    }

    .row .column.column-offset-4 {
        margin-left: 33.33%;
    }

    .row .column.column-offset-5 {
        margin-left: 41.66%;
    }

    .row .column.column-offset-6 {
        margin-left: 50%;
    }

    .row .column.column-offset-7 {
        margin-left: 58.33%;
    }

    .row .column.column-offset-8 {
        margin-left: 66.66%;
    }

    .row .column.column-offset-9 {
        margin-left: 75%;
    }

    .row .column.column-offset-10 {
        margin-left: 83.33%;
    }

    .row .column.column-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .row .column.column-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .row .column.column-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .column.column-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .row .column.column-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .row .column.column-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .column.column-7 {
        flex: 0 058.33%;
        max-width:58.33%;
    }

    .row .column.column-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .row .column.column-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .column.column-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .row .column.column-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .row .column.column-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*--------------------------------------------------------------
# General & Tricks
--------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-sc);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sc);
}

h3, h4, h5 {
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

h2::before {
  display: block;
  content: " ";
  margin-top: -190px;
  height: 190px;
  visibility: hidden;
  pointer-events: none;
}

a:hover {
  /*text-decoration: none;*/
}

ul {
    list-style-position: inside;
}

audio {
    background: #A0A0A0;
    border-radius: 5px;
}

audio::-webkit-media-controls-panel{
    background-color: #A0A0A0;
    border-color: #A0A0A0;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

/*
.custom-list ul{
  list-style: none;
}

.custom-list li {
  text-indent: -1em;
}

.custom-list li::before {
  content: "+";
  padding-right: 6px;
}

.custom-list li li::before {
  content: "=>";
  padding-right: 6px;
}
*/

.inline-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 0;
}

.inline-list li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    padding-bottom: 0;
}

.black-bg.module{
    background-color:var(--color-hl) !important;
    color: var(--color-hl-inverted);
}

.content--center > .row > *{
    margin: 0
}

.show-large,
.row .column.show-large{
    display: none;
}

.show-small{
    display: block;
}

.button-group {
    margin-top: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .text-right-large{
        text-align: right;
    }

    .text-left-large{
        text-align: left;
    }

    .text-center-large{
        text-align: center;
    }
    .float-right-large{
        float: right;
        display: block;
    }

    .float-left-large{
        float: left;
        display: block;
    }

    .show-large,
    .row .column.show-large{
        display: block;
    }

    .show-small{
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .button-group {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .button-group .btn{
        margin-bottom: 1.875rem;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .button-group .btn a{
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .button-group .btn + .btn {
        margin-left: 0;
        margin-bottom: 0;
    }

    .button-group .btn--primary_ghost > a,
    .button-group .btn--secondary_ghost > a{
        display: block;
    }
}


/*--------------------------------------------------------------
# Header & Nav
--------------------------------------------------------------*/

.loader--intro {
    background: var(--color-fg);
}

.header__panel.header__panel--on .menu-list{
    list-style: none;
}

.header__wrapper{
    bottom: initial;
    align-items: flex-start;
    justify-content: center;
    padding-top: calc(var(--rhythm) * 0.05);
    padding-bottom: calc(var(--rhythm) * 0.05);
}

.header__nav .inline-list{
    padding-top: calc(var(--rhythm) * 0.05);
    padding-bottom: 0;
    transition: padding-top 1s;
}

.header__nav a.nav-link {
    color: var(--color-hl-inverted) !important;
    margin-left: 0;
    transition: all 0.3s ease-in-out;
    text-shadow: 0px 0px 3px #000000;
}

.header__nav a.nav-link:hover,
.header__nav a.nav-link.nav-link--selected {
    /*color: var(--color-sc) !important;*/
    text-decoration: none;
}

.header__nav .haschildren ul a.nav-link:hover,
.header__nav .haschildren ul a.nav-link.nav-link--selected {
    /*color: var(--color-sc) !important;*/
    text-decoration: underline;
}

.header__nav li{
    position: relative;
    padding-right: calc(var(--rhythm) * 0.35);
    text-align: center;
    line-height: 30px;
    transition: all 0.6s ease-in-out;
}

.header__nav.second-menu li{
    padding-left: calc(var(--rhythm) * 0.45);
    padding-right: 0;
    transition: all 0.6s ease-in-out;
}

.header__nav li ul {
    opacity: 0;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 1.25rem;
    z-index: -100;
    transition: all 0.6s ease-in-out;
}

.header__nav li a:hover + ul,
.header__nav li ul:hover {
    top: 2.5rem;
    opacity: 1;
    z-index: 10;
}

.header__nav li li {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    white-space: nowrap;
}

.header__nav li li .nav-link:hover::before,
.header__nav li li  a.nav-link.nav-link--selected::before {
    content: "";
    height: 0;
    width: 0;
    background-color: transparent;
    position: absolute;
    bottom: initial;
    left: initial;
}

.header__nav.second-menu li ul {
    left: initial;
    right: 0;
}

.header__nav.second-menu li li {
    text-align: right;
}

.header__nav li.haschildren ul{
    transition: all 0.6s ease-in-out;
}

.header__nav li.haschildren > a::after{
    font-family: 'Material Icons';
    font-style: normal;
    content: "\e5cf";
    vertical-align: -3px;
    margin-left: 4px;
}

/*.header__nav li.haschildren > a:hover::after{
    font-family: 'Material Icons';
    font-style: normal;
    content: "\e5ce"
}*/

.header__logo{
    padding-left: calc(var(--rhythm) * 0.1);
    padding-right: calc(var(--rhythm) * 0.1);
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.header__logo svg {
    margin-top: 6px;
    height: 2rem;
    width: auto;
    transition: all 0.6s ease-in-out;
}

.header__logo img {
    margin-top: 6px;
    height: 2rem;
    width: auto;
    transition: all 0.6s ease-in-out;
}

.header__wrapper.landscape{
    max-width: 100%;
}

.header__wrapper.portrait{
    display: none;
}

header.header .landscape {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
    background:
}

header.header .portrait {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

header.header .portrait_hiden {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

/*Sticky*/


.header__wrapper.landscape.landscape_sticky {
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: calc(var(--rhythm) * 0.05);
}

.header__wrapper.landscape_sticky .header__logo svg{
    height: 1.5rem;
    margin-top: 8px;
}

.header__wrapper.landscape_sticky .header__logo img{
    height: 1.7rem;
    margin-top: 6px;
}

.header__wrapper.landscape_sticky .header__nav .inline-list {
    padding-top: 5px;
}


.header__wrapper.landscape_sticky .header__nav li{
    padding-right: calc(var(--rhythm) * 0.3);
}

.header__wrapper.landscape_sticky .header__nav.second-menu > ul > li{
    padding-left: calc(var(--rhythm) * 0.3);
    padding-right: 0
}

.header__wrapper.landscape_sticky .header__nav.second-menu li li {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

.landscape_sticky  .header__nav a.nav-link{
    font-size: 90%;
}

.header__wrapper.landscape_sticky .header__nav li.haschildren ul {
    background-color: rgba(0, 0, 0, 0.85);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border-radius: 0 0 6px 6px;
}

.header__wrapper.landscape_sticky .header__nav li ul{
    left: -1em;
}

.header__wrapper.landscape_sticky .header__nav li a:hover + ul,
.header__wrapper.landscape_sticky .header__nav li ul:hover{
    top: 40px;
    left: -1em;
}

/*.header__wrapper.landscape_sticky .first-menu li.haschildren ul {
    left: -2rem !important;
}

.header__wrapper.landscape_sticky .second-menu li.haschildren ul {
    right: -1rem !important;
}*/


@media only screen and (max-width: 1100px) {

    .header__wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header__nav li{
        padding-right: calc(var(--rhythm) * 0.2);
    }

    .header__nav.second-menu li{
        padding-left: calc(var(--rhythm) * 0.2);
    }

    .header__logo{
        padding-left: calc(var(--rhythm) * 0.1);
        padding-right: calc(var(--rhythm) * 0.1);
    }
}

@media only screen and (max-width: 900px) {

    .header__wrapper.landscape{
        display: none;
    }

    .header__wrapper.portrait{
        display: block;
    }

    .header__wrapper.portrait_sticky {
        padding-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .logo-burguer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 2px;
    }

    .header__logo-mobile{
        line-height: 0;
    }

    .header__logo-mobile svg {
        height: 1.75rem;
        width: auto;
        padding-top: 0px;
    }

    .header__logo-mobile img {
        margin-top: 3px;
        height: 2.2rem;
        width: auto;
        padding-top: 0px;
    }

    .header__toggle-on .material-icons{
        margin-top: 0;
        font-size: 2.25rem;
        color: #FFFFFF;
        text-shadow: 0px 0px 8px #000000;
    }

    .header__toggle-off{
        z-index: 1000;
        right: 20px;
    }

    .header__mobile-menu{
        z-index: 10;
    }

    .header__toggle-off .material-icons{
        font-size: 2.25rem;
        color: #FFFFFF;
    }

    .header__wrapper{
        justify-content: space-between;
    }

    .header__panel.header__panel--on .menu-list{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .header__panel .nav-link {
        display: block;
        color: var(--color-bg) !important;
        font-size: 19px;
    }

    .header__panel li li .nav-link {
        font-size: 16px;
    }

    .header__panel .nav-link:hover,
    .header__panel .nav-link.nav-link--selected {
        color: var(--color-sc) !important;
        text-decoration: none;
    }

    .header__mobile-menu{
        padding: 4rem 2rem 2.5rem 2rem;
        height: 100vh;
        overflow: scroll;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--color-fg);
    }

    .header__mobile-menu ul{
        list-style: none;
    }

}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn{
    font-size: 1em;
}

.module--splash .btn{
    font-size: 1.188em;
}

.btn + .btn{
    margin-left: 1.375rem;
}

.btn--primary > a {
    display: inline-block;
    background: var(--color-hl);
    border: 1px solid var(--color-hl);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary > a {
    display: inline-block;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--primary_ghost > a {
    display: inline-block;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary_ghost > a {
    display: inline-block;
    background: transparent;
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn.btn--primary .material-icons {
    padding-left: 0.5rem;
}

.btn.btn--primary:hover,
.btn.btn--secondary:hover,
.btn.btn--primary_ghost:hover,
.btn.btn--secondary_ghost:hover{
    transform: none;
}

.btn.btn--primary:hover a,
.btn.btn--secondary:hover a,
.btn.btn--primary_ghost:hover a,
.btn.btn--secondary_ghost:hover a{
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
}

.btn.btn--primary:active,
.btn.btn--secondary:active,
.btn.btn--primary_ghost:active,
.btn.btn--secondary_ghost:active{
    transform: translateY(-1px);
}


/*--------------------------------------------------------------
# Splash
--------------------------------------------------------------*/

.module--splash {
    min-height: 100% !important;
    height: 350px;
}

.body--home .module--splash {
    /*min-height: 1180px !important;*/
    min-height: 120vh !important;
    height: 100vh;
}

.module--splash h2 {
    line-height: 1.4;
}


@media only screen and (min-width: 768px) {

    .body--home .module--splash h1 {
        margin-top: -3vh;
        font-size: 7vh;
    }

    body:not(.body--home) .module--splash {
        height: 500px;
    }

    body:not(.body--home) .module--splash h1 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 480px) {

    .module--splash {
        height: 275px;
    }

   .body--home .module--splash {
        min-height: 910px !important;
        height: 100vh;
    }

    .body--home .module--splash h1 {
        margin-top: 225px;
        padding-bottom: 0.5rem;
    }

    .body--home .module--splash h2 {
        /*display: none;*/
        padding-bottom: 6.6em;
    }

    body:not(.body--home) .module--splash h1 {
        margin-top: 50px;
    }
}

.splash__content-ctn--hcenter.splash__content-ctn--vcenter{
    margin-top: 0;
}

.module--splash::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 10000;
}

.module--splash::before {
    height: 20%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
}

.splash__content-ctn{
    z-index: 20000;
}

.splash__content h2{
    font-family: var(--font-light);
    font-size: 1.275rem;
    padding-bottom: 1.8em;
    text-shadow: 0px 0px 2px #000000;
}

.splash__content h1,
.splash__content h2{
    text-shadow: 0px 0px 8px #000000;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.basic-concepts h2{
    font-family: var(--font-special);
}

.basic-concepts img{
    max-width: 205px;
}

.kit__card > div{
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 2em;
    color: var(--color-hl-inverted);
    height: 500px;
}

.kit__card > div::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 0;
}

.kit__card > div *{
    position: relative;
    z-index: 10;
}

.kit__card .content-group h2{
    padding-bottom: 0.25em;
}

.kit__card .content-group h3{
    padding-top: 1.4em;
    padding-bottom: 0.25em;
    text-align: center;
    font-size: 5vh;
    font-family: var(--font-special);
    text-shadow: 0px 0px 2px #000000;
}

.kit__card .content-group h5{
    padding-bottom: 0.25em;
}

.kitv4{
    background: url(../../../pages/images/kit-v3.jpg) no-repeat center center;
    background-size: cover;
}

.kitv3{
    background: url(../../../pages/images/kit-v3.jpg) no-repeat center center;
    background-size: cover;
}

.kitv2{
    background: url(../../../pages/images/kit-v2.jpg) no-repeat center center;
    background-size: cover;
}

.hard-soft img{
    padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
    .hard-soft .column-offset-1.column-5{
        margin-bottom: var(--rhythm)
    }
}

.video-block img{
    max-height: 150px;
    width: auto;
}

.video-block.mt_2{
    margin-top: calc(var(--rhythm) * 0.25);
}

.timeline{
  position:relative;
  margin: 50px auto;
  width:calc(100% - 20px);
  padding:50px 0;
}

.timeline ul{
  margin:0;
  padding:0 ;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  width:100%;
  padding: 3em 0 3em 5.5em;
  float:right;
  text-align:left;
  clear:both;
  display: flex;
  flex-direction: column-reverse;
}

.timeline__image,
.timeline__content{
    flex:1;
}

.timeline ul li::before {
    content: "";
    background: url(../../../pages/images/uses-cases-detail.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 10px;
    top: 44px;
    z-index: 10;
}

.timeline__image{
    padding-top: 1.5rem;
}

.timeline__content h3{
    padding-bottom: 1rem;
}

.timeline__content h5{
    padding-bottom: 1.375em;
}

.timeline__content a{
    display: block;
    clear: both;
    padding-top: 1em;
}

.timeline__content a:hover{
    color: var(--color-hl-inverted) !important;
    text-decoration: underline;
}

.timeline__content audio {
    padding-right: 0;
    margin-bottom: 0.5em;
    width: calc(100% - 10%);
    background: #909090;
}

.timeline__content audio::-webkit-media-controls-panel{
    background-color: #909090;
    border-color: #909090;
}

@media only screen and (min-width: 901px){
    .timeline ul li{
      display: flex;
      flex-direction: row-reverse;
      padding: 3em 0 3em 6.5em;
    }

    .timeline__image{
        padding-left: 1.875em;
    }

    .timeline__content h3{
        padding-top: 0.75em;
    }

    .timeline ul li::before{
      width:90px;
      height:90px;
      left:0;
      top:50px;
      z-index: 10;
    }

    .timeline__image{
        padding-top: 0;
    }
}

@media only screen and (min-width: 768px){
    .timeline::before {
      content: '';
      position:absolute;
      height:100%;
      left:42px;
      width:2px;
      top:0;
      background:#FFFFFF;
      z-index:1;
    }
}

@media only screen and (max-width: 900px){
    .kit__card .button-group {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .kit__card .button-group .btn{
        margin-bottom: 1.875rem;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .kit__card .button-group .btn a{
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .kit__card .button-group .btn + .btn {
        margin-left: 0;
        margin-bottom: 0;
    }

    .kit__card .button-group .btn--primary_ghost > a,
    .kit__card .button-group .btn--secondary_ghost > a{
        display: block;
    }

}
@media only screen and (max-width: 767px){

    .pre-title{
        display: flex;
        flex-direction: row;
    }

    .pre-title img{
        width: 60px;
        height: auto;
        margin: -20px 10px 20px 0;
    }

    .pre-title h2{
        width: calc(100% - 80px);
    }

    .timeline{
        width:100%;
        padding-top: 2.5rem;
    }

    .timeline:before{
        left:20px;
    }

    .timeline ul li{
        width:100%;
        text-align:left;
        top:0;
        left:0;
        padding: 0 0 3em 0;
    }

    .timeline ul li::before {
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
        left: initial;
        right: 0;
    }

    .timeline ul li::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        display: block;
        left: 0;
        top: 22px;
    }

    .timeline ul li h3{
        z-index: 100;
        background: #000000;
        position: relative;
        display: inline-block;
        padding-right: 1rem;
        padding-bottom: 0;
        margin-bottom: 2rem;
        line-height: 38px;
        max-width: calc(100% - 56px);
    }

    .timeline__content audio {
        width: 100%
    }

    .kit__card{
        padding-bottom:var(--rhythm);
    }

    .kit__card:last-child{
        padding-bottom:0;
    }

    .video-block + .video-block .column-6:first-child .embed.youtube{
        margin-top: -8px;
        width: 100%;
    }

}

@media only screen and (max-width: 480px){

    /*.pre-title{
        flex-direction: column-reverse;
    }*/

    .pre-title img{
        width: 60px;
        margin: 0 0 1rem 0;
    }

    .pre-title h2{
        width: 100%;
    }

    .hard-soft img{
        padding-bottom: 0;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer p a {
    text-decoration: none;
    color: var(--color-hl-inverted) !important;
}


footer p a:hover {
    text-decoration: underline !important;
    color: var(--color-sc) !important;
}

/*--------------------------------------------------------------
# Form footer
--------------------------------------------------------------*/

.module--content form{
    margin-top: 0;
    margin-bottom: 0;
}

#footer-contact-form .form-field{
    margin-top: 0;
    margin-bottom: 1rem;
}


#footer-contact-form button {
    width: auto;
    padding: 10px 35px;
    height: auto;
    background-color: var(--color-hl);
    color: var(--color-hl-inverted);
    font-size: var(--base-font-size);
    border: 1px solid var(--color-hl-inverted);
    margin-top: 0.5rem !important;
}

#footer-contact-form button:hover {
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
    transform:none;
}

#footer-contact-form form .required {
    display: none;
}

@media only screen and (min-width: 768px){
    #footer-contact-form .form-field{
        width: 48%;
        display: inline-block;
    }

    #footer-contact-form .form-field + .form-field{
        margin-left: 3%;
    }

    #footer-contact-form .form-field + .form-field + .form-field{
        margin-left: 0;
        width: 100%;
        display: block;
    }
}


@media only screen and (max-width: 767px){
    .footer__form{
        padding-top: 3em;
    }
}


/*--------------------------------------------------------------
# Engines
--------------------------------------------------------------*/

.engines-filter-wrapper .column-3{
    padding-left: 0;
}

.engines-filter-wrapper .column-9{
    padding-right: 0;
}

#engines_filter_cat{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*#engines_filter_cat label{
    margin-right: 0.75rem;
    white-space: nowrap;
}

#engines_filter_cat input[type=radio]{
    margin-top: 0;
    margin-right: 3px;
    vertical-align: 2px;
}*/


#engines_filter_cat label{
    padding-bottom: 0.75rem;
}

#engines_filter_cat label:last-child{
    padding-right: 0;
}

#engines_filter_cat input[type=radio] {
  display: none;
}

#engines_filter_cat input[type=radio] + .label-name {
  display: inline-block;
  position: relative;
  border-radius: 0;
  padding: 0.5em 1em;
  width: auto;
  background: #FFFFFF;
  color: #000000;
  border:1px solid #000000;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-size: 16px;
}

#engines_filter_cat label:first-child input[type=radio] + .label-name{
    border-radius: 6px 0 0 6px;
}

#engines_filter_cat label:last-child input[type=radio] + .label-name{
    border-radius: 0 6px 6px 0 ;
}

#engines_filter_cat input[type=radio] + .label-name:hover {
  background: #666666;
  color:#FFFFFF;
  border:1px solid #666666;
}

#engines_filter_cat input[type=radio]:checked + .label-name {
  background: #000000;
  color: #FFFFFF;
  border:1px solid #000000;
}


#engines_filter_tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#engines_filter_tag label{
    padding-bottom: 0.75rem;
    padding-left: 1rem
}

#engines_filter_tag label:last-child{
    padding-right: 0;
}

#engines_filter_tag input[type=radio] {
  display: none;
}

#engines_filter_tag input[type=radio] + .label-name {
  display: inline-block;
  position: relative;
  border-radius: 6px;
  padding: 0.5em 1em;
  width: auto;
  background: #FFFFFF;
  color: #000000;
  border:1px solid #000000;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-size: 16px;
}

#engines_filter_tag input[type=radio] + .label-name:hover {
  background: #666666;
  color:#FFFFFF;
  border:1px solid #666666;
}

#engines_filter_tag input[type=radio]:checked + .label-name {
  background: #000000;
  color: #FFFFFF;
  border:1px solid #000000;
}

.product-card__image img{
    border-radius: 6px;
}

.product-card__info{
    max-width: 100%;
    margin-top: 1rem;
}

.product-card__title{
    font-family: var(--font-base-bold);
    font-size: normal;
    font-family: 'audiowide';
}

.product-card__description{
    font-size: 16px;
}

.product-collection__grid-ctn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.5rem;
}

.product-collection__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0 2rem;
    flex-wrap: inherit;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

.product-card {
    margin: 0;
    padding-bottom: var(--gutter);
    width: 100% !important;
    border-bottom: none;
    padding-bottom: 3em;
}

.product-card__price{
  opacity: 0.5;
}

.product-card:hover{
  transform: translateY(-2px);
}
.product-card:active{
  transform: translateY(-1px);
}

@media only screen and (max-width: 1200px){
    .product-collection__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1000px){
    .product-collection__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 767px){

    .product-collection__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    #engines_filter_cat{
        justify-content: center
    }

    #engines_filter_tag{
        padding-top: 2rem;
        justify-content: center;
    }

    #engines_filter_tag label{
        padding-bottom: 1rem;
        padding-right: 0.5rem
        padding-left: 0.5rem
    }
}



/*--------------------------------------------------------------
# Uses Cases
--------------------------------------------------------------*/

/*.basic-concepts h2#use-cases{
    padding-bottom: 0;
}*/

.use-case h2 {
  font-family: var(--font-special);
}

.use-case p {
  display: block;
}

.first >p:first-child,
.main-cases >p:first-child{
    margin-top: 1.5rem;
}

.first >p:first-child::first-letter,
.main-cases >p:first-child::first-letter {
  font-family: var(--font-special);
  font-size: 400%;
  line-height: 20%;
  color: var(--color-hl);
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: -3px;
  margin-right: 1px;
}


.link-extrademos{
    padding-top: 1.5em;
}

audio {
  width: 100%;
}

.body--keyboard-expander footer,
.body--studio-production footer,
.body--effects-unit footer {
    margin-top: 0;
}

.use-case-engines {
    background-color: #E8E8E8;
    margin-bottom: 0;
}

.use-case-engines .product-collection__grid-ctn {
    padding-top: calc(var(--rhythm) * 0.75);
    padding-bottom: calc(var(--rhythm) * 0.5);
    margin-top: calc(var(--rhythm) * 0.75);
}

.use-case-engines .product-collection__grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}


/*--------------------------------------------------------------
# Custom Styles by Jofemodo
--------------------------------------------------------------*/

.splash__content h2 a.anchorjs-link,
h1 a.anchorjs-link,
h3 a.anchorjs-link {
    display: none;
}

.grecaptcha-badge{
    /*z-index: 1000*/
    display: none;
}

.legal-page h3 {
    font-size: 110%;
}


div.kit__card h2::before {
  margin-top: 0;
  height: 0;
}

