
/*
***************************************
CUSTOM CSS FOR ZYNTHIAN
(child-theme of Hotdoy)
***************************************
*/


/*--------------------------------------------------------------
SUMARY
----------------------------------------------------------------
# Columns Grdi
# General & Tricks
# Buttons
# Splash
# Homepage



--------------------------------------------------------------*/



/*
***************************************
FLEXBOX-BASED COLUMNS
These classes provide the flexbox-based row-and-column layout from milligram.css [2].
NOT SUPPORTED: Safari 8 (MacOS X 10.10)
***************************************
*/

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row-no-padding .row {
    padding: 0;
}

.row-no-padding .row > .column {
    padding: 0;
}

.row-wrap .row {
    flex-wrap: wrap;
}

.row-top  .row{
    align-items: flex-start;
}

.row-bottom .row {
    align-items: flex-end;
}

.row-center .row{
    align-items: center;
}

.row-stretch .row{
    align-items: stretch;
}

.row-baseline .row{
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row [class^=".column.column-"]{
    flex: 0 0 100%;
    max-width: 100%;
}

.row .column .column-top {
    align-self: flex-start;
}

.row .column .column-bottom {
    align-self: flex-end;
}

.row .column .column-center {
    -ms-grid-row-align: center;
            align-self: center;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .row .column {
        margin-bottom: inherit;
        padding: 0 1rem;
    }

    .row .column.column-offset-1 {
        margin-left: 8.33%;
    }

    .row .column.column-offset-2 {
        margin-left: 16.66%;
    }

    .row .column.column-offset-3 {
        margin-left: 25%;
    }

    .row .column.column-offset-4 {
        margin-left: 33.33%;
    }

    .row .column.column-offset-5 {
        margin-left: 41.66%;
    }

    .row .column.column-offset-6 {
        margin-left: 50%;
    }

    .row .column.column-offset-7 {
        margin-left: 58.33%;
    }

    .row .column.column-offset-8 {
        margin-left: 66.66%;
    }

    .row .column.column-offset-9 {
        margin-left: 75%;
    }

    .row .column.column-offset-10 {
        margin-left: 83.33%;
    }

    .row .column.column-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }

    .row .column.column-2 {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .row .column.column-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row .column.column-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .row .column.column-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .row .column.column-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row .column.column-7 {
        flex: 0 058.33%;
        max-width:58.33%;
    }

    .row .column.column-8 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .row .column.column-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .row .column.column-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }

    .row .column.column-11 {
        flex: 0 0 91.66%;
        max-width: 91.66%;
    }

    .row .column.column-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



/*--------------------------------------------------------------
# General & Tricks
--------------------------------------------------------------*/

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.custom-list ul{
  list-style: none;
}

.custom-list li {
  text-indent: -1em;
}

.custom-list li::before {
  content: "+";
  padding-right: 6px;
}

.custom-list li li::before {
  content: "=>";
  padding-right: 6px;
}

.inline-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 0;
}

.inline-list li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    padding-bottom: 0;
}

.black-bg.module{
    background-color:var(--color-hl) !important;
    color: var(--color-hl-inverted);
}

.content--center > .row > *{
    margin: 0
}

@media only screen and (min-width: 768px) {
    .text-right-large{
        text-align: right;
    }

    .text-left-large{
        text-align: left;
    }

    .text-center-large{
        text-align: center;
    }
    .float-right-large{
        float: right;
        display: block;
    }

    .float-left-large{
        float: left;
        display: block;
    }

}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn{
    font-size: 1em;
}

.module--splash .btn{
    font-size: 1.188em;
}

.btn + .btn{
    margin-left: 1.375rem;
}

.btn--primary > a {
    display: flex;
    background: var(--color-hl);
    border: 1px solid var(--color-hl);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary> a {
    display: flex;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--primary_ghost > a {
    display: flex;
    background: var(--color-hl-inverted);
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn--secondary_ghost> a {
    display: flex;
    background: transparent;
    border: 1px solid var(--color-hl-inverted);
    color: var(--color-hl-inverted);
    border-radius: 6px;
    padding: 0.5em 1.75em;
}

.btn.btn--primary .material-icons {
    padding-left: 0.5rem;
}

.btn.btn--primary:hover,
.btn.btn--secondary:hover,
.btn.btn--primary_ghost:hover,
.btn.btn--secondary_ghost:hover{
    transform: none;
}

.btn.btn--primary:hover a,
.btn.btn--secondary:hover a,
.btn.btn--primary_ghost:hover a,
.btn.btn--secondary_ghost:hover a{
    box-shadow: none;
    background: var(--color-sc);
    border: 1px solid var(--color-sc);
    color: var(--color-hl-inverted);
}

.btn.btn--primary:active,
.btn.btn--secondary:active,
.btn.btn--primary_ghost:active,
.btn.btn--secondary_ghost:active{
    transform: translateY(-1px);
}


/*--------------------------------------------------------------
# Splash
--------------------------------------------------------------*/

:not(.body--home) .module--splash {
    min-height: 100% !important;
    height: 350px;
}

.body--home .module--splash {
    min-height: 900px !important;
    height: 100vh;
}


@media only screen and (min-width: 768px) {

    :not(.body--home) .module--splash {
        height: 500px;
    }
}

@media only screen and (max-width: 480px) {

    :not(.body--home) .module--splash {
        height: 275px;
    }

    :not(.body--home) .module--splash h1 {
        margin-top: 80px;
        padding-bottom: 0;
    }

    /*:not(.body--home) .module--splash h2 {
        display: none;
    }*/
}

:not(.body--home) .splash__content-ctn--hcenter.splash__content-ctn--vcenter{
    margin-top: 0;
}

.module--splash::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 10000;
}

:not(.body--home) .module--splash::before {
    height: 20%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
}

.splash__content-ctn{
    z-index: 20000;
}

.splash__content h2{
    font-family: var(--font-light);
    font-size: 1.275rem;
    padding-bottom: 1.8em;
    text-shadow: 0px 0px 2px #000000;
}

.splash__content h1{
    text-shadow: 0px 0px 8px #000000;
}


/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.basic-concepts h2{
    font-family: var(--font-special);
}

.basic-concepts img{
    max-width: 205px;
}

.kit__card > div{
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 2em;
    color: var(--color-hl-inverted);
    height: 500px;
}

.kit__card > div::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.00) 100%);
    z-index: 0;
}

.kit__card > div *{
    position: relative;
    z-index: 10;
}

.kit__card .content-group h2{
    padding-bottom: 0.25em;
}

.kit__card .content-group h5{
    padding-bottom: 0.25em;
}

.kit__card .button-group {
    margin-top: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
}

.kitv3{
    background: url(../../../pages/images/kit-v3.jpg) no-repeat center center;
    background-size: cover;
}

.kitv2{
    background: url(../../../pages/images/kit-v2.jpg) no-repeat center center;
    background-size: cover;
}

.hard-soft img{
    padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
    .hard-soft .column-offset-1.column-5{
        margin-bottom: var(--rhythm)
    }
}

.video-block img{
    max-height: 150px;
    width: auto;
}

.video-block.mt_2{
    margin-top: calc(var(--rhythm) * 0.25);
}

.timeline:before {
  content: '';
  position:absolute;
  height:100%;
  left:20px;
  width:2px;
  top:0;
  background:#fff;
  z-index:1;
}

.timeline{
  position:relative;
  margin: 50px auto;
  width:calc(100% - 20px);
  padding:50px 0;
}

.timeline ul{
  margin:0;
  padding:0 ;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  width:100%;
  padding: 3em 0 3em 5em;
  float:right;
  text-align:left;
  clear:both;
  display: flex;
  flex-direction: row-reverse;
}

.timeline ul li::before{
  content: "";
  background: url(../../../pages/images/uses-cases-detail.svg) no-repeat center center;
  position:absolute;
  width:90px;
  height:90px;
  left:-24px;
  top:50px;
  z-index: 10;
}

.timeline__image,
.timeline__content{
    flex:1;
}

.timeline__content h3{
    padding-bottom: 1rem;
}

.timeline__content h5{
    padding-bottom: 1.375em;
}

.timeline__content a{
    display: block;
    clear: both;
    padding-top: 1em;
}


@media only screen and (min-width: 768px){
    .timeline ul li{
      display: flex;
      flex-direction: row-reverse;
    }

    .timeline__image{
        padding-left: 1.875em;
    }

    .timeline__content h3{
        padding-top: 0.75em;
    }


}


@media only screen and (max-width: 767px){
  .timeline{
    width:100%;
  }

  .timeline:before{
    left:20px;
  }

  .timeline ul li{
    width:100%;
    text-align:left;
    padding-left:50px;
    top:-18px;
    left:16px;
  }

}



/*--------------------------------------------------------------
# Custom Styles by Jofemodo
--------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

.splash__content h2 a.anchorjs-link, 
h1 a.anchorjs-link,
h3 a.anchorjs-link {
  display: none;
}

.use-case h2 {
  font-family: var(--font-special);
}

.use-case p {
  display: block; 
}

div.first>p:first-child::first-letter {
  font-family: 'audiowide';
  font-size: 400%;
  line-height: 20%;
  color: var(--color-hl);
  margin-bottom: 0;
  padding-bottom: 0;
}

audio {
  width: 100%;
}

footer.footer h2 {
  font-family: 'Audiowide';
}

form#contact-form button.button {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

form#contact-form button.button:hover {
  color: #FFFFFF;
  background-color: #C03030;
}


